
/*Style of index.html*/

/*全局规范*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#fullPage > div {
    overflow: hidden;
}


/*  第一屏样式  */
.first {
    padding-top: 100px;
    background: url("../img/first.png") no-repeat top;
    -webkit-background-size: cover;
    background-size: cover;
}
.first .logo {
    background: url("../img/logoyao.png") no-repeat;
    background-size: 100% auto;
    width: 400px;
    height: 80px;
    margin: 0 auto;
}
.first .slogan {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.first .slogan h2 {
    font-size: 90px;
    letter-spacing: 40px;
    opacity: 0;
    transition: all 1.5s;
    color: #1d1d1d;
}
.first .slogan p {
    font-size: 30px;
    margin-top: 40px;
    font-weight: 300;
    color: #6c6c6c;
}
/*利用交集选择器，添加当前变化样式*/
.first.current h2 {
    letter-spacing: 5px;
    opacity: 1;
}


/*  第二屏样式  */

/* 用flex方式布局 */

/*fullPage插件给每个屏div下还自动套了一层div*/
.second > div {
    display: flex;
    justify-content: center;
    align-items: center;

}
.second .girl {
    flex: 1;
    font-size: 0;
    /*background-color: deepskyblue;*/
}
.second .girl img {
    width: 32%;
    transition: all 2s;
    opacity: 0;
}

.second .girl img:nth-child(2) {
    transform: translate(-555px,-190px) scale(0.1) ;
}
.second .girl img:nth-child(4) {
    transform: translate(144px,780px) scale(0.1) ;
}
.second .girl img:nth-child(5) {
    transform: translate(-200px,100px) scale(0.1) ;
}
.second .girl img:nth-child(6) {
    transform: translate(300px,-100px) scale(0.1) ;
}
.second .girl img:nth-child(7) {
    transform: translate(-260px,465px) scale(0.1) ;
}
.second .girl img:nth-child(8) {
    transform: translate(321px,-123px) scale(0.1) ;
}
.second .girl img:nth-child(9) {
    transform: translate(64px,-230px) scale(0.1) ;
}
.second .girl img:nth-child(11) {
    transform: translate(654px,-123px) scale(0.1) ;
}
.second .girl img:nth-child(12) {
    transform: translate(454px,451px) scale(0.3) ;
}

.second .intro {
    flex: 1;
    /*background-color: deeppink;*/
    color: #1d1d1d;
    padding-top: 100px;
}
.second .intro h2 {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 50px;
    transform: translate(1500px,0);
    transition: all 2s 1s ;
}
.second .intro p {
    font-family:'hdjxingshu1a2f5234f11da7c';
    font-size: 26px;
    line-height: 50px;
    font-weight: lighter;
    opacity: 0;
    transition: all 2s 1s ;
}

.second.current .girl img {
    transform: none;
    opacity: 1;
}
.second.current .intro h2 {
    transform: none;
}
.second.current .intro p {
    opacity: 1;
}


/*  第三屏样式  */
/* 定位方式布局 */
.third {
    position: relative;
}
.third .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url("../img/info_3.png") no-repeat center;
}
.third .picture {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}
.third .picture .circle {
    width: 70%;
    height: 70%;
    background: url("../img/circle.png") no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.third .picture img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250%,200%);
    transition: all 1s;
}
.third.current .picture img {
    transform: translate(-50%,-50%);
}
.third.current .circle {
    animation: spin 5s linear 1s infinite;
}

@keyframes spin {
    from {transform: translate(-50%,-50%) rotate(0deg)}
    to {transform: translate(-50%,-50%) rotate(360deg)}
}


/*  第四屏样式  */

.fourth {
    position: relative;
}
.fourth .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
.fourth .picture .search {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 0;
    height: 70px;
    background: url("../img/search.png") no-repeat;
    transition: width 1s;
}
.picture .search .keyword {
    background: url("../img/key.png");
    position: absolute;
    top: 22px;
    left: 20px;
    width: 0;
    height: 22px;
    transition: width 1s steps(5) 1s;
}
.fourth .picture .result {
    background: url("../img/result.png");
    width: 70%;
    height: 0;
    position: absolute;
    top: 27%;
    left: 10%;
    transition: height 1s 2.5s;
}
.fourth .info {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url("../img/info_4.png") no-repeat center;
}
/*过渡后的样式*/
.fourth.current .search {
    width: 70%;
}
.fourth.current .keyword {
    width: 99px;
}
.fourth.current .result {
    height: 50%;
}


